
nav
    {


float: right;
}
 nav ul
 {
     list-style: none;
 }
 nav ul li
 {
     
     
     background-color:#ccc;
     display: inline-block;
     text-align: center;
     font-size: 18px;
     line-height: 45px;;
 }
 nav ul li a
 {
     text-decoration: none;
     color: purple;
 }
 nav ul li :hover
 {
    background-color:#0ff;
    border: 4px black grove;
     
 }

 p{
     text-align: left;
 }
